# https://gist.github.com/hpoul/b78f7a1b3cde988f3ce4d12e954367eb
#
# IDEA: Allow some configuration, which is shared across users.

/.idea/*
/android/.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/vcs.xml
!.idea/dictionaries
!.idea/dictionaries/*
!.idea/inspectionProfiles/*
!.idea/codeStyles
!.idea/codeStyles/*
*.iml

# Java/Kotlin/Android

/.gradle
/build
/out

# JavaScript/Node.JS

/node_modules

#### project specific ignores below

.dart_tool/

.atom/
.idea
.vscode/
.packages
.pub/
android/
build/
ios/
packages
.flutter-plugins
# Since the current expectation is that clients are using Flutter head,
# and Dart SDK changes unlock dependencies, pubspec.lock isn't useful.
# Ignore it since it just creates noise. When there's a system in place
# for versioning this project relative to Flutter, remove this.
pubspec.lock
